In [2]:
import pandas as pd
#df_pr= pd.read_csv('./Stock Data/indexProcessed.csv')
df= pd.read_csv('./Stock Data/indexData.csv')
dfinfo= pd.read_csv('./Stock Data/indexInfo.csv')
#print(df.columns)
#print(dfinfo.columns)
df_temp= pd.merge(df,dfinfo)
dfind= df_temp.loc[df_temp['Region']=='India']
col= list(dfind.columns)
dfind=dfind[col[:2]+[col[9]]+col[2:8]]
dfind

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
58055,NSEI,2007-09-17,National Stock Exchange of India,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0.0
58056,NSEI,2007-09-18,National Stock Exchange of India,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0.0
58057,NSEI,2007-09-19,National Stock Exchange of India,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0.0
58058,NSEI,2007-09-20,National Stock Exchange of India,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0.0
58059,NSEI,2007-09-21,National Stock Exchange of India,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0.0
...,...,...,...,...,...,...,...,...,...
61431,NSEI,2021-05-25,National Stock Exchange of India,15291.750000,15293.849610,15163.400390,15208.450200,15208.450200,441500.0
61432,NSEI,2021-05-26,National Stock Exchange of India,15257.049810,15319.900390,15194.950200,15301.450200,15301.450200,384000.0
61433,NSEI,2021-05-27,National Stock Exchange of India,15323.950200,15384.549810,15272.500000,15337.849610,15337.849610,0.0
61434,NSEI,2021-05-28,National Stock Exchange of India,15421.200200,15469.650390,15394.750000,15435.650390,15435.650390,468100.0
61435,NSEI,2021-05-31,National Stock Exchange of India,15437.750000,15606.349610,15374.000000,15582.799810,15582.799810,436000.0

In [3]:
dfny= df_temp.loc[df_temp['Index']=='NYA']
col= list(dfny.columns)
dfny=dfny[col[:2]+[col[9]]+col[2:8]]
dfny

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,New York Stock Exchange,528.690002,528.690002,528.690002,528.690002,528.690002,0.000000e+00
1,NYA,1966-01-03,New York Stock Exchange,527.210022,527.210022,527.210022,527.210022,527.210022,0.000000e+00
2,NYA,1966-01-04,New York Stock Exchange,527.840027,527.840027,527.840027,527.840027,527.840027,0.000000e+00
3,NYA,1966-01-05,New York Stock Exchange,531.119995,531.119995,531.119995,531.119995,531.119995,0.000000e+00
4,NYA,1966-01-06,New York Stock Exchange,532.070007,532.070007,532.070007,532.070007,532.070007,0.000000e+00
...,...,...,...,...,...,...,...,...,...
13943,NYA,2021-05-24,New York Stock Exchange,16375.000000,16508.519530,16375.000000,16464.689450,16464.689450,2.947400e+09
13944,NYA,2021-05-25,New York Stock Exchange,16464.689450,16525.810550,16375.150390,16390.189450,16390.189450,3.420870e+09
13945,NYA,2021-05-26,New York Stock Exchange,16390.189450,16466.339840,16388.320310,16451.960940,16451.960940,3.674490e+09
13946,NYA,2021-05-27,New York Stock Exchange,16451.960940,16546.359380,16451.960940,16531.949220,16531.949220,5.201110e+09
13947,NYA,2021-05-28,New York Stock Exchange,16531.949220,16588.689450,16531.949220,16555.660160,16555.660160,4.199270e+09

In [4]:
dfch= df_temp.loc[df_temp['Region']=='China']
col= list(dfch.columns)
dfch=dfch[col[:2]+[col[9]]+col[2:8]]
dfch

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
35388,000001.SS,1997-07-02,Shanghai Stock Exchange,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0.0
35389,000001.SS,1997-07-03,Shanghai Stock Exchange,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0.0
35390,000001.SS,1997-07-04,Shanghai Stock Exchange,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0.0
35391,000001.SS,1997-07-07,Shanghai Stock Exchange,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0.0
35392,000001.SS,1997-07-08,Shanghai Stock Exchange,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0.0
...,...,...,...,...,...,...,...,...,...
58050,399001.SZ,2021-05-27,Shenzhen Stock Exchange,14796.049810,14955.299810,14720.669920,14897.190430,14897.190430,1502100.0
58051,399001.SZ,2021-05-28,Shenzhen Stock Exchange,14899.330080,14977.250000,14778.820310,14852.879880,14852.879880,1651600.0
58052,399001.SZ,2021-05-31,Shenzhen Stock Exchange,14874.889650,14996.379880,14836.150390,14996.379880,14996.379880,1460400.0
58053,399001.SZ,2021-06-01,Shenzhen Stock Exchange,14963.950200,15039.019530,14820.740230,15034.780270,15034.780270,1515600.0
58054,399001.SZ,2021-06-02,Shenzhen Stock Exchange,15044.940430,15051.209960,14793.740230,14857.910160,14857.910160,1470800.0

#### Now we have 4 data bases of 4 different countries. We will now proceed to clean a specific part of China and Japan Db's

In [5]:
dfjp= df_temp.loc[df_temp['Region']=='Japan']
col= list(dfjp.columns)
dfjp=dfjp[col[:2]+[col[9]]+col[2:8]]
dfjp

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
92450,N225,1965-01-05,Tokyo Stock Exchange,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0.0
92451,N225,1965-01-06,Tokyo Stock Exchange,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0.0
92452,N225,1965-01-07,Tokyo Stock Exchange,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0.0
92453,N225,1965-01-08,Tokyo Stock Exchange,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0.0
92454,N225,1965-01-11,Tokyo Stock Exchange,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
106945,N225,2021-05-28,Tokyo Stock Exchange,28912.539060,29194.109380,28899.660160,29149.410160,29149.410160,80600000.0
106946,N225,2021-05-31,Tokyo Stock Exchange,29019.449220,29147.710940,28791.599610,28860.080080,28860.080080,53800000.0
106947,N225,2021-06-01,Tokyo Stock Exchange,28998.650390,29075.470700,28611.250000,28814.339840,28814.339840,47400000.0
106948,N225,2021-06-02,Tokyo Stock Exchange,28730.810550,29003.550780,28565.830080,28946.140630,28946.140630,71000000.0
106949,N225,2021-06-03,Tokyo Stock Exchange,28890.390630,29157.160160,28879.150390,29058.109380,29058.109380,0.0

In [6]:
dfch= df_temp.loc[df_temp['Region']=='China']
col= list(dfch.columns)
dfch=dfch[col[:2]+[col[9]]+col[2:8]]
dfch

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
35388,000001.SS,1997-07-02,Shanghai Stock Exchange,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0.0
35389,000001.SS,1997-07-03,Shanghai Stock Exchange,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0.0
35390,000001.SS,1997-07-04,Shanghai Stock Exchange,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0.0
35391,000001.SS,1997-07-07,Shanghai Stock Exchange,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0.0
35392,000001.SS,1997-07-08,Shanghai Stock Exchange,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0.0
...,...,...,...,...,...,...,...,...,...
58050,399001.SZ,2021-05-27,Shenzhen Stock Exchange,14796.049810,14955.299810,14720.669920,14897.190430,14897.190430,1502100.0
58051,399001.SZ,2021-05-28,Shenzhen Stock Exchange,14899.330080,14977.250000,14778.820310,14852.879880,14852.879880,1651600.0
58052,399001.SZ,2021-05-31,Shenzhen Stock Exchange,14874.889650,14996.379880,14836.150390,14996.379880,14996.379880,1460400.0
58053,399001.SZ,2021-06-01,Shenzhen Stock Exchange,14963.950200,15039.019530,14820.740230,15034.780270,15034.780270,1515600.0
58054,399001.SZ,2021-06-02,Shenzhen Stock Exchange,15044.940430,15051.209960,14793.740230,14857.910160,14857.910160,1470800.0

In [7]:
dfeur= df_temp.loc[df_temp['Index']=='N100']
col= list(dfeur.columns)
dfeur=dfeur[col[:2]+[col[9]]+col[2:8]]
dfeur

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
106950,N100,1999-12-31,Euronext,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
106951,N100,2000-01-03,Euronext,996.770020,996.770020,996.770020,996.770020,996.770020,0.0
106952,N100,2000-01-04,Euronext,955.969971,955.969971,955.969971,955.969971,955.969971,0.0
106953,N100,2000-01-05,Euronext,930.260010,930.260010,930.260010,930.260010,930.260010,0.0
106954,N100,2000-01-06,Euronext,922.460022,922.460022,922.460022,922.460022,922.460022,0.0
...,...,...,...,...,...,...,...,...,...
112452,N100,2021-05-27,Euronext,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,2021-05-28,Euronext,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,2021-05-31,Euronext,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,2021-06-01,Euronext,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,2021-06-02,Euronext,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0

In [8]:
dfch['Index']= 'SSEC'
dfch

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
35388,SSEC,1997-07-02,Shanghai Stock Exchange,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0.0
35389,SSEC,1997-07-03,Shanghai Stock Exchange,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0.0
35390,SSEC,1997-07-04,Shanghai Stock Exchange,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0.0
35391,SSEC,1997-07-07,Shanghai Stock Exchange,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0.0
35392,SSEC,1997-07-08,Shanghai Stock Exchange,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0.0
...,...,...,...,...,...,...,...,...,...
58050,SSEC,2021-05-27,Shenzhen Stock Exchange,14796.049810,14955.299810,14720.669920,14897.190430,14897.190430,1502100.0
58051,SSEC,2021-05-28,Shenzhen Stock Exchange,14899.330080,14977.250000,14778.820310,14852.879880,14852.879880,1651600.0
58052,SSEC,2021-05-31,Shenzhen Stock Exchange,14874.889650,14996.379880,14836.150390,14996.379880,14996.379880,1460400.0
58053,SSEC,2021-06-01,Shenzhen Stock Exchange,14963.950200,15039.019530,14820.740230,15034.780270,15034.780270,1515600.0
58054,SSEC,2021-06-02,Shenzhen Stock Exchange,15044.940430,15051.209960,14793.740230,14857.910160,14857.910160,1470800.0

In [9]:
dfjp['Index']= 'TYO'
dfjp

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
92450,TYO,1965-01-05,Tokyo Stock Exchange,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0.0
92451,TYO,1965-01-06,Tokyo Stock Exchange,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0.0
92452,TYO,1965-01-07,Tokyo Stock Exchange,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0.0
92453,TYO,1965-01-08,Tokyo Stock Exchange,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0.0
92454,TYO,1965-01-11,Tokyo Stock Exchange,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
106945,TYO,2021-05-28,Tokyo Stock Exchange,28912.539060,29194.109380,28899.660160,29149.410160,29149.410160,80600000.0
106946,TYO,2021-05-31,Tokyo Stock Exchange,29019.449220,29147.710940,28791.599610,28860.080080,28860.080080,53800000.0
106947,TYO,2021-06-01,Tokyo Stock Exchange,28998.650390,29075.470700,28611.250000,28814.339840,28814.339840,47400000.0
106948,TYO,2021-06-02,Tokyo Stock Exchange,28730.810550,29003.550780,28565.830080,28946.140630,28946.140630,71000000.0
106949,TYO,2021-06-03,Tokyo Stock Exchange,28890.390630,29157.160160,28879.150390,29058.109380,29058.109380,0.0

In [10]:
dfny

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,New York Stock Exchange,528.690002,528.690002,528.690002,528.690002,528.690002,0.000000e+00
1,NYA,1966-01-03,New York Stock Exchange,527.210022,527.210022,527.210022,527.210022,527.210022,0.000000e+00
2,NYA,1966-01-04,New York Stock Exchange,527.840027,527.840027,527.840027,527.840027,527.840027,0.000000e+00
3,NYA,1966-01-05,New York Stock Exchange,531.119995,531.119995,531.119995,531.119995,531.119995,0.000000e+00
4,NYA,1966-01-06,New York Stock Exchange,532.070007,532.070007,532.070007,532.070007,532.070007,0.000000e+00
...,...,...,...,...,...,...,...,...,...
13943,NYA,2021-05-24,New York Stock Exchange,16375.000000,16508.519530,16375.000000,16464.689450,16464.689450,2.947400e+09
13944,NYA,2021-05-25,New York Stock Exchange,16464.689450,16525.810550,16375.150390,16390.189450,16390.189450,3.420870e+09
13945,NYA,2021-05-26,New York Stock Exchange,16390.189450,16466.339840,16388.320310,16451.960940,16451.960940,3.674490e+09
13946,NYA,2021-05-27,New York Stock Exchange,16451.960940,16546.359380,16451.960940,16531.949220,16531.949220,5.201110e+09
13947,NYA,2021-05-28,New York Stock Exchange,16531.949220,16588.689450,16531.949220,16555.660160,16555.660160,4.199270e+09

#### THE PROCESS OF DATA CLEANING IS NOW OVER.

In [36]:
dfny.to_csv('./Stock Data/NYSE Data.csv', index=False)

col= list(dfny.columns)

for s in col[3:]:
    dfny[s]= dfny[s].map(lambda x: round(x,3))
dfny

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Day Swing
0,NYA,1965-12-31,New York Stock Exchange,528.690,528.690,528.690,528.690,528.690,NaN
1,NYA,1966-01-03,New York Stock Exchange,527.210,527.210,527.210,527.210,527.210,-1.480
2,NYA,1966-01-04,New York Stock Exchange,527.840,527.840,527.840,527.840,527.840,0.630
3,NYA,1966-01-05,New York Stock Exchange,531.120,531.120,531.120,531.120,531.120,3.280
4,NYA,1966-01-06,New York Stock Exchange,532.070,532.070,532.070,532.070,532.070,0.950
...,...,...,...,...,...,...,...,...,...
13943,NYA,2021-05-24,New York Stock Exchange,16375.000,16508.520,16375.000,16464.689,16464.689,89.689
13944,NYA,2021-05-25,New York Stock Exchange,16464.689,16525.811,16375.150,16390.189,16390.189,-74.500
13945,NYA,2021-05-26,New York Stock Exchange,16390.189,16466.340,16388.320,16451.961,16451.961,61.771
13946,NYA,2021-05-27,New York Stock Exchange,16451.961,16546.359,16451.961,16531.949,16531.949,79.988
13947,NYA,2021-05-28,New York Stock Exchange,16531.949,16588.689,16531.949,16555.660,16555.660,23.711

In [12]:

dfch.to_csv('./Stock Data/Chinese Data.csv', index=False)

col= list(dfch.columns)

for s in col[3:]:
    dfch[s]= dfch[s].map(lambda x: round(x,3))
dfch

      Index        Date                 Exchange         Open         High  \
35388  SSEC  1997-07-02  Shanghai Stock Exchange  1255.909058  1261.571045
35389  SSEC  1997-07-03  Shanghai Stock Exchange  1194.676025  1194.676025
35390  SSEC  1997-07-04  Shanghai Stock Exchange  1138.921021  1163.249023
35391  SSEC  1997-07-07  Shanghai Stock Exchange  1161.707031  1163.447021
35392  SSEC  1997-07-08  Shanghai Stock Exchange  1092.798950  1115.432983

               Low        Close    Adj Close  Volume
35388  1147.331055  1199.061035  1199.061035     0.0
35389  1149.939941  1150.623047  1150.623047     0.0
35390  1124.776001  1159.342041  1159.342041     0.0
35391  1085.572021  1096.818970  1096.818970     0.0
35392  1066.043945  1109.666016  1109.666016     0.0

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
35388,SSEC,1997-07-02,Shanghai Stock Exchange,1255.909,1261.571,1147.331,1199.061,1199.061,0.0
35389,SSEC,1997-07-03,Shanghai Stock Exchange,1194.676,1194.676,1149.940,1150.623,1150.623,0.0
35390,SSEC,1997-07-04,Shanghai Stock Exchange,1138.921,1163.249,1124.776,1159.342,1159.342,0.0
35391,SSEC,1997-07-07,Shanghai Stock Exchange,1161.707,1163.447,1085.572,1096.819,1096.819,0.0
35392,SSEC,1997-07-08,Shanghai Stock Exchange,1092.799,1115.433,1066.044,1109.666,1109.666,0.0
...,...,...,...,...,...,...,...,...,...
58050,SSEC,2021-05-27,Shenzhen Stock Exchange,14796.050,14955.300,14720.670,14897.190,14897.190,1502100.0
58051,SSEC,2021-05-28,Shenzhen Stock Exchange,14899.330,14977.250,14778.820,14852.880,14852.880,1651600.0
58052,SSEC,2021-05-31,Shenzhen Stock Exchange,14874.890,14996.380,14836.150,14996.380,14996.380,1460400.0
58053,SSEC,2021-06-01,Shenzhen Stock Exchange,14963.950,15039.020,14820.740,15034.780,15034.780,1515600.0
58054,SSEC,2021-06-02,Shenzhen Stock Exchange,15044.940,15051.210,14793.740,14857.910,14857.910,1470800.0

In [13]:
dfjp.to_csv("./Stock Data/Japanese Data.csv", index=False)

col= list(dfjp.columns)
for s in col[3:]:
    dfjp[s]= dfjp[s].apply(lambda x: round(x,3))
dfjp

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
92450,TYO,1965-01-05,Tokyo Stock Exchange,1257.720,1257.720,1257.72,1257.720,1257.720,0.0
92451,TYO,1965-01-06,Tokyo Stock Exchange,1263.990,1263.990,1263.99,1263.990,1263.990,0.0
92452,TYO,1965-01-07,Tokyo Stock Exchange,1274.270,1274.270,1274.27,1274.270,1274.270,0.0
92453,TYO,1965-01-08,Tokyo Stock Exchange,1286.430,1286.430,1286.43,1286.430,1286.430,0.0
92454,TYO,1965-01-11,Tokyo Stock Exchange,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
106945,TYO,2021-05-28,Tokyo Stock Exchange,28912.539,29194.109,28899.66,29149.410,29149.410,80600000.0
106946,TYO,2021-05-31,Tokyo Stock Exchange,29019.449,29147.711,28791.60,28860.080,28860.080,53800000.0
106947,TYO,2021-06-01,Tokyo Stock Exchange,28998.650,29075.471,28611.25,28814.340,28814.340,47400000.0
106948,TYO,2021-06-02,Tokyo Stock Exchange,28730.811,29003.551,28565.83,28946.141,28946.141,71000000.0
106949,TYO,2021-06-03,Tokyo Stock Exchange,28890.391,29157.160,28879.15,29058.109,29058.109,0.0

In [14]:
dfeur.to_csv("./Stock Data/European Data.csv", index=False)
col= list(dfeur.columns)

for c in col[3:]:
    dfeur[c]= dfeur[c].apply(lambda x: round(x,3))

dfeur

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
106950,N100,1999-12-31,Euronext,1000.00,1000.00,1000.00,1000.00,1000.00,0.0
106951,N100,2000-01-03,Euronext,996.77,996.77,996.77,996.77,996.77,0.0
106952,N100,2000-01-04,Euronext,955.97,955.97,955.97,955.97,955.97,0.0
106953,N100,2000-01-05,Euronext,930.26,930.26,930.26,930.26,930.26,0.0
106954,N100,2000-01-06,Euronext,922.46,922.46,922.46,922.46,922.46,0.0
...,...,...,...,...,...,...,...,...,...
112452,N100,2021-05-27,Euronext,1241.12,1251.91,1241.12,1247.07,1247.07,379696400.0
112453,N100,2021-05-28,Euronext,1249.47,1259.21,1249.03,1256.60,1256.60,160773400.0
112454,N100,2021-05-31,Euronext,1256.08,1258.88,1248.14,1248.93,1248.93,91173700.0
112455,N100,2021-06-01,Euronext,1254.61,1265.66,1254.61,1258.58,1258.58,155179900.0
112456,N100,2021-06-02,Euronext,1258.49,1263.71,1258.24,1263.62,1263.62,148465000.0

In [16]:
dfind.to_csv("./Stock Data/Indian Data.csv", index= False)

col= list(dfind.columns)

for s in col[3:]:
    dfind[s]= dfind[s].apply(lambda x: round(x,3))

dfind

,Index,Date,Exchange,Open,High,Low,Close,Adj Close,Volume
58055,NSEI,2007-09-17,National Stock Exchange of India,4518.45,4549.05,4482.85,4494.65,4494.65,0.0
58056,NSEI,2007-09-18,National Stock Exchange of India,4494.10,4551.80,4481.55,4546.20,4546.20,0.0
58057,NSEI,2007-09-19,National Stock Exchange of India,4550.25,4739.00,4550.25,4732.35,4732.35,0.0
58058,NSEI,2007-09-20,National Stock Exchange of India,4734.85,4760.85,4721.15,4747.55,4747.55,0.0
58059,NSEI,2007-09-21,National Stock Exchange of India,4752.95,4855.70,4733.70,4837.55,4837.55,0.0
...,...,...,...,...,...,...,...,...,...
61431,NSEI,2021-05-25,National Stock Exchange of India,15291.75,15293.85,15163.40,15208.45,15208.45,441500.0
61432,NSEI,2021-05-26,National Stock Exchange of India,15257.05,15319.90,15194.95,15301.45,15301.45,384000.0
61433,NSEI,2021-05-27,National Stock Exchange of India,15323.95,15384.55,15272.50,15337.85,15337.85,0.0
61434,NSEI,2021-05-28,National Stock Exchange of India,15421.20,15469.65,15394.75,15435.65,15435.65,468100.0
61435,NSEI,2021-05-31,National Stock Exchange of India,15437.75,15606.35,15374.00,15582.80,15582.80,436000.0